# Rails Master Key
/config/master.key

# testing
/coverage

# log
/log/*
!/log/.keep

# tmp
/tmp/*
!/tmp/.keep

## Ignore SQLite database files
/db/*.sqlite3
/db/*.sqlite3-journal

# env files
.env
.env.*

# images
/public/uploads